body {color: black;
      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
     }
img {float: right;} 

table {
        border: 2px solid white;
        text-align: center;
       }        
        
th {color: white;
        background-color: black;
        padding: 3px 5px;}

td {
        background-color: rgba(211, 211, 211, 0.807);
        border: 1px solid white;
        padding: 3px}
        